.container-fluid {
    padding-right: 100px;
    padding-left: 100px;
}

.box-words {

}

h1 {
    color: #f8f9ff;
    font-family: "Playfair Display", serif;
    font-size: 40px;
    font-weight: normal;
    line-height: 48px;
    margin: 0 0 26px;
}

h2 {
    color: #363636;
    font-family: "Playfair Display", serif;
    font-size: 26px;
    font-weight: normal;
    line-height: 36px;
    margin: 0 0 18px;
    padding: 12px 0 0;
}

h3 {
    color: #c65c3f;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    margin: 0 0 18px;
    padding: 12px 0 0;
    text-transform: uppercase;
}

p {
    color: #363636;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 18px;
    margin: 0 0 18px;
}

.form-control {
    height: 55px;
    border-radius: 0;
}

.facebook-blue {
    background-color: #3B5998;
}

.facebook-blue > a{
    color: white;
    text-decoration: none;
}

.center {
    float:none;
    display:inline-block;
    vertical-align:middle;
    margin-right:-4px;
}

#facebook-btn {
    width: 65%;
    margin-top: 20%;
}

#facebook-btn-2 {
    width: 55%;
}

.navbar a{
    color: black;
    /*background-color: grey;*/
    /*opacity: 0.6;*/
}
.navbar-custom .navbar-brand ,.navbar-custom .nav li a {
    color:darkgrey;
}

body {
  /* Margin bottom by footer height */
  /*padding-bottom: 300px;*/
    background: #e9eaec;
}
footer {
  background-image: url("../img/photography.png");
  /*position: absolute;*/
  bottom: 0;
  width: 100%;
   /*Set the fixed height of the footer here*/
  height: 300px;
  background-color: #f5f5f5;
}

section {
    min-height: 500px;
}
.section-heading {
    font-size: 70px;
}

#register {
    padding-top: 50px;
}

.subheading {
    color: white;
    text-align: center;
}

.awesome-search.active input.text_area {
color: #403d39;
box-shadow: 0 1px 0 rgba(127,121,108,.4),0 1px 3px rgba(127,121,108,.2);
}

#id_looking_for_male_female, #id_male_female {
    width: 180px;
    height: 55px;
    color: #403d39;
box-shadow: 0 1px 0 rgba(127,121,108,.4),0 1px 3px rgba(127,121,108,.2);
}

.white-text {
    color: white;
}

.navbar-custom.is-fixed {
/*position: fixed;*/
    top: -61px;
    background-color: rgba(255,255,255,.9);
    border-bottom: 1px solid #f2f2f2;
    -webkit-transition: -webkit-transform .3s;
    -moz-transition: -moz-transform .3s;
    transition: transform .3s;
}

.padding-50 {
    padding-top: 50px;
}

.trans-bg-box {
    background-color: rgba(255,255,255,0.8);
}

.bg-black {
    padding: 10px;
    background-color: rgba(0,0,0,0.8);
}