{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
{#    {% for user in match_list %}#}
{#        {{ user.username }}#}
{#    {% endfor %}#}
<div class="container">
    <div class="row">
        <h3>{{ user2.username }}</h3>
    </div>
    <div class="row">
        <div class="col-xs-9 col-xs-offset-1">
            <img src="{{ user2.profile_image.url }}">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3">
            <p>HEIGHT: {{ user2.height }}</p>
        </div>
        <div class="col-xs-3">
            <p>WEIGHT: {{ user2.weight }}</p>
        </div>
        <div class="col-xs-3">
            <p>OCCUPATION: {{ user2.occupation }}</p>
        </div>
    </div>

{#    BRYAN add javascript stuff here and get rid of the button#}
    <button><a href="{% url 'date_search' i %}">Next</a></button>
    <button><a href="{% url 'bumped_option' i user2.id 1 %}">bumped into</a></button>
    <button><a href="{% url 'bumped_option' i user2.id 3 %}">bumped</a></button>
    <button><a href="{% url 'bumped_option' i user2.id 2 %}">bumped to curb</a></button>
</div>

    <script>
        $(document).keydown(function(e) {
            switch(e.which) {
                case 37: // left
                    alert("left key");
                break;

                case 38: // up
                break;

                case 39: // right
                break;

                case 40: // down
                break;

                default: return; // exit this handler for other keys
            }
            e.preventDefault(); // prevent the default action (scroll / move caret)
        });
    </script>
{% endblock content %}