{% extends 'base.html' %}

{% block content %}
    <div id="profile_details">
        <h3>{{ user.username }}</h3>
        <p>Occupation: {{ user.occupation }}</p>
        <p>Age: {{ user.age }}</p>
        <p>Height: {{ user.height }}</p>
        <p>Weight: {{ user.weight }}</p>
    </div>

    <div id="profile_image">
        <a href="{% url 'dater_profile' user.id %}"><img width="400px" src="{{ user.profile_image.url }}"></a>
    </div>

{#    query bump into matches #}
    <div id="bump_into_matches">
        <h3>Bump Into Matches</h3>
        {% for match in bump_into_matches %}
            {% if match.user2.pk != user.pk %}
            <li><a href="{% url 'dater_profile' match.user2.pk  %}">{{ match.user2.username }} Profile</a></li>
            <li><a href="{% url 'chat_room' match.user2.pk  %}">Chat with {{ match.user2.username }}</a></li>
            {% elif match.user1.pk != user.pk %}
            <li><a href="{% url 'dater_profile' match.user1.pk  %}">{{ match.user1.username }} Profile</a></li>
            <li><a href="{% url 'chat_room' match.user1.pk  %}">Chat with {{ match.user1.username }}</a></li>
            {% endif %}
        {% endfor %}
    </div>
{#    query bumpin matches #}
    <div id="bumpin_matches">
        <h3>Bumpin' matches</h3>
        {% for match in bumpin_matches %}
            <li><a href="{% url 'dater_profile' match.user2.pk %}">{{ match.user2.username }} Profile</a></li>
            <li><a href="{% url 'chat_room' match.user2.pk  %}">Chat with {{ match.user2.username }}</a></li>
        {% endfor %}
    </div>
    <button><a href="#">Start Bumpin'</a></button>
{#    What info does Bryan need for me to send through?  URL name?#}
{% endblock content %}